THESPORTSDB_API_KEY=your_thesportsdb_api_key

FOOTBALLDATA_API_KEY=your_footballdata_api_key
FOOTBALLDATA_API_KEY_2=your_footballdata_api_key_2
FOOTBALLDATA_API_KEY_3=your_footballdata_api_key_3
FOOTBALLDATA_API_KEY_4=your_footballdata_api_key_4

YOUTUBE_API_KEY=your_youtube_api_key
YOUTUBE_API_KEY_2=your_youtube_api_key_2
YOUTUBE_API_KEY_3=your_youtube_api_key_3
YOUTUBE_API_KEY_4=your_youtube_api_key_4
YOUTUBE_API_KEY_5=your_youtube_api_key_5

BBS_API_KEY=your_bigballsdata_api_key
BBS_API_KEY_2=your_bigballsdata_api_key_2
BBS_API_KEY_3=your_bigballsdata_api_key_3
BBS_API_KEY_4=your_bigballsdata_api_key_4

SPORTS_API_PRO_KEY=your_sportsapipro_key
SPORTS_API_PRO_KEY_2=your_sportsapipro_key_2
SPORTS_API_PRO_KEY_3=your_sportsapipro_key_3
SPORTS_API_PRO_KEY_4=your_sportsapipro_key_4

TURSO_DATABASE_URL=your_turso_database_url
TURSO_AUTH_TOKEN=your_turso_auth_token

THESPORTSDB_USERNAME=your_thesportsdb_username
THESPORTSDB_PASSWORD=your_thesportsdb_password
